name: Generate code coverage reports

on:
  - push
  - pull_request
  - workflow_dispatch
  
jobs:
  code-coverage:

    runs-on: ubuntu-latest

    env:
      PIO_ENV: native_code_coverage
      COBERTURA_FILE: speeduino.cobertura.xml
      HTML_FILE_ROOT: speeduino_coverage

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          cache: 'pip' # Enables caching for dependencies

    - name: Create Python venv
      run: |
        sudo apt-get install python3-venv
        python3 -m venv PIO

    - name: Install PlatformIO
      run: |
        source PIO/bin/activate
        pip install platformio
       
    - name: Run Code Coverage Tests
      run: | 
        source PIO/bin/activate
        platformio test -v -e ${{ env.PIO_ENV }}

    - name: Upload to Coveralls
      uses: threeal/gcovr-action@v1.2.0
      with:
        coveralls-send: true
        # html-out: .pio/build/${{ env.PIO_ENV }}/${{ env.HTML_FILE_ROOT }}.html
        # html-details: true
        # coveralls-out: .pio/build/${{ env.PIO_ENV }}/${{ env.HTML_FILE_ROOT }}.coveralls
        # cobertura-out: .pio/build/${{ env.PIO_ENV }}/${{ env.HTML_FILE_ROOT }}.cobertura
        print-summary: true
        excludes: |
          test/
          lib/ArduinoFake/
          .pio/libdeps/
          speeduino/src/BackupSram/
          speeduino/src/FlashStorage/
          speeduino/src/FRAM/
          speeduino/src/SPIAsEEPROM/
          speeduino/src/STM32_CAN/
          (.+/)?unity_config\.c$
          (.+/)?board_native\.(?:h|cpp)$

    # - name: Upload reports
    #   uses: actions/upload-artifact@v4
    #   with:
    #     path: |
    #       .pio/build/${{ env.PIO_ENV }}/${{ env.HTML_FILE_ROOT }}.*