name: Generate code coverage reports

on:
  - push
  - pull_request
  - workflow_dispatch
  
jobs:
  code-coverage:

    runs-on: ubuntu-latest

    env:
      PIO_ENV: native_code_coverage
      COBERTURA_FILE: speeduino.cobertura.xml
      HTML_FILE_ROOT: speeduino_coverage

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          cache: 'pip' # Enables caching for dependencies

    - name: Create Python venv
      run: |
        sudo apt-get install python3-venv
        python3 -m venv PIO

    - name: Install PlatformIO
      run: |
        source PIO/bin/activate
        pip install platformio
       
    - name: Run Code Coverage Tests
      run: | 
        source PIO/bin/activate
        platformio test -v -e ${{ env.PIO_ENV }} --filter test_init

    # - name: Install gcovr
    #   run: |
    #     source PIO/bin/activate
    #     pip install gcovr

    # - name: Generate report (gcovr)
    #   run: |
    #     source PIO/bin/activate
    #     gcovr \
    #       -e test/ \
    #       -e .pio/libdeps/
    #       -e speeduino/src/BackupSram/ \
    #       -e speeduino/src/FlashStorage/ \
    #       -e speeduino/src/FRAM/ \
    #       -e speeduino/src/SPIAsEEPROM/ \
    #       -e speeduino/src/STM32_CAN/ \
    #       -e '(.+/)?unity_config\.c$' \
    #       -e '(.+/)?board_native\.(?:h|cpp)$' \
    #       --merge-mode-functions merge-use-line-0 \
    #       --html-details ${{ env.HTML_FILE_ROOT }}.html \
    #       --cobertura ${{ env.COBERTURA_FILE }}

    # - name: Generate report (markdown)
    #   uses: irongut/CodeCoverageSummary@v1.3.0
    #   if: github.event_name == 'pull_request'
    #   with:
    #     filename: .pio/build/${{ env.PIO_ENV }}/${{ env.COBERTURA_FILE }}
    #     badge: true
    #     fail_below_min: false
    #     format: markdown
    #     hide_branch_rate: false
    #     hide_complexity: true
    #     indicators: true
    #     output: both
    #     thresholds: '60 80'

    # - name: Add Coverage PR Comment
    #   uses: marocchino/sticky-pull-request-comment@v2
    #   if: github.event_name == 'pull_request'
    #   with:
    #     recreate: true
    #     path: code-coverage-results.md

    - name: Upload to Coveralls
      uses: threeal/gcovr-action@v1.2.0
      with:
        coveralls-send: true
        # html-out: .pio/build/${{ env.PIO_ENV }}/${{ env.HTML_FILE_ROOT }}.html
        # html-details: true
        # coveralls-out: .pio/build/${{ env.PIO_ENV }}/${{ env.HTML_FILE_ROOT }}.coveralls
        # cobertura-out: .pio/build/${{ env.PIO_ENV }}/${{ env.HTML_FILE_ROOT }}.cobertura
        print-summary: true
        excludes: |
          test/
          .pio/libdeps/
          speeduino/src/BackupSram/
          speeduino/src/FlashStorage/
          speeduino/src/FRAM/
          speeduino/src/SPIAsEEPROM/
          speeduino/src/STM32_CAN/
          '(.+/)?unity_config\.c$'
          '(.+/)?board_native\.(?:h|cpp)$'

    # - name: Upload reports
    #   uses: actions/upload-artifact@v4
    #   with:
    #     path: |
    #       .pio/build/${{ env.PIO_ENV }}/${{ env.HTML_FILE_ROOT }}.*

    # - name: Coveralls
    #   uses: coverallsapp/github-action@v2
    #   env:
    #      COVERALLS_REPO_TOKEN: vzPaat5IdtIhgZqxFSP2gqBb6lBxRVdas
    #   with:
    #     github-token: ${{ secrets.GITHUB_TOKEN }}
    #     file: .pio/build/${{ env.PIO_ENV }}/${{ env.HTML_FILE_ROOT }}.cobertura
    #     format: cobertura
