name: Generate code coverage reports

on:
  - push
  - pull_request
  - workflow_dispatch
  
jobs:
  code-coverage:

    runs-on: ubuntu-latest

    env:
      PIO_ENV: native_code_coverage
      FILE_ROOT: speeduino_coverage
      GCOV_IGNORES: |
          test/
          lib/ArduinoFake/
          .pio/libdeps/
          speeduino/src/SPIAsEEPROM/
          (.+/)?unity_config\.c$
          (.+/)?board_native\.(?:h|cpp)$

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          cache: 'pip' # Enables caching for dependencies

    - name: Create Python venv
      run: |
        sudo apt-get install python3-venv
        python3 -m venv PIO

    - name: Install PlatformIO
      run: |
        source PIO/bin/activate
        pip install platformio
       
    - name: Run Code Coverage Tests
      # We want the coverage to reflect the status of the
      # unit tests: so even if the tests fail or outright
      # crash, continue the rest of the workflow.
      continue-on-error: true
      run: | 
        source PIO/bin/activate
        platformio test -v -e ${{ env.PIO_ENV }}

    - name: Upload to CodeCov
      uses: codecov/codecov-action@v5
      if: ${{ !env.ACT }}
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        gcov_ignore: ${{ env.GCOV_IGNORES }}
        # verbose: true 

    - name: Generate coverage reports
      uses: threeal/gcovr-action@v1.2.0
      with:
        coveralls-send: false
        print-summary: true
        excludes: ${{ env.GCOV_IGNORES }}
        html-out: .pio/build/${{ env.PIO_ENV }}/${{ env.FILE_ROOT }}.html
        html-details: true
        sonarqube-out: .pio/build/${{ env.PIO_ENV }}/${{ env.FILE_ROOT }}.sonarqube.xml
        # coveralls-out: .pio/build/${{ env.PIO_ENV }}/${{ env.FILE_ROOT }}.coveralls
        # cobertura-out: .pio/build/${{ env.PIO_ENV }}/${{ env.FILE_ROOT }}.cobertura.xml

    - name: Upload local coverage reports
      if: ${{ env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        path: |
          .pio/build/${{ env.PIO_ENV }}/${{ env.FILE_ROOT }}.*
    
    - name: Upload coverage report to SonarQube
      # if: ${{ !env.ACT }}
      uses: SonarSource/sonarqube-scan-action@v6
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with: 
        args: > 
          --define sonar.projectKey=speeduino_speeduino
          --define sonar.organization=speeduino
          --define sonar.coverageReportPaths=".pio/build/${{ env.PIO_ENV }}/${{ env.FILE_ROOT }}.sonarqube.xml"